.beachheading{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.beachimg{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px;
}

img{
    margin: 10px;
    border-radius: 10px;
   
}

.beachname{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: underline;
}