.mountainheading{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.mountainimg{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px;
}

img{
    margin: 10px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
   
}

.mountainname{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: underline;
}