ul{
    display: flex;
    justify-content: center;
}

li{
    display: flex;
    justify-content: space-around;
    padding: 10px; 

    

   
}

nav{
    display: flex;
    justify-content: space-around;
}
a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    color : white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
   
}